window {
  margin: 0px;
  border: 1px solid #39ff74;
  background-color: #020403;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 11px;
}

#input {
  margin: 8px;
  padding: 6px;
  color: #b7ffbf;
  background-color: #07110b;
  border: 1px solid #12351d;
}

#inner-box {
  margin: 4px 8px 8px 8px;
  background-color: #020403;
}

#outer-box {
  background-color: #020403;
}

#scroll {
  background-color: #020403;
}

#text {
  margin: 4px;
  color: #cdd6f4;
}

#entry {
  padding: 5px;
  color: #7fdc8f;
  background-color: transparent;
}

#entry:selected {
  color: #020403;
  background-color: #39ff74;
}

#text {
  color: inherit;
}
